$color1: rgb(125, 200, 149);
$color2: rgb(19, 43, 28);
$color3: rgb(237, 237, 237);
$color1-opacity-50: rgba(125, 200, 149, 0.5);
$color2-opacity-50: rgba(19, 43, 28, 0.5);
$color2-opacity-70: rgba(19, 43, 28, 0.7);
$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");

// Bootstrap variables
$font-family-sans-serif: var(--font-montserrat);
$primary: $color1;
$secondary: $color2;
$border-radius: 0;

// SweetAlert
$swal2-confirm-button-background-color: $color2;
