@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.course-card {
	height: 100%;
    cursor: pointer;

	.card-title {
		margin-top: 10px;
		color: v.$color2;
	}

	.card-footer,
	.card-footer > * {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		color: v.$color1;
        font-weight: 700;
        background: none;
        border-top:none;
	}

    .image{
        overflow: hidden;
		position: relative;
    }

	.image::after{
		@include m.fligran(v.$color1-opacity-50)

	}

	img {
		width: 100%;
		height: auto;
        @include m.transition(transform 0.5s)
	}

	&:hover {
		img {
			@include m.transform(scale(1.2) rotate(20deg));
		}
	}
}
